body{
	background-color: rgb(0, 0, 0);
	height: 100%;
	color: aliceblue;

}
.container{
	text-align: center;
	top: 200px;
	position: relative;
}
#dialogoverlay{
	text-align: center;
	top: 230px;
	position: relative;
}
.gamediv h1{
    font-family: calibri;
    color: rgb(0, 20, 130);
}
.flex {
	display: flex;
	left: 410px;
	position: relative;
	width: 300px;
	height: 40px;
	border-radius: 20px;
	background-color: white;
}
.button{
	height: 40px;
	width: 100px;
	left: 24px;
	font-size: 15px;
	top: 0px;
	background-color: rgb(56, 92, 211);
	border: none;
	outline: none;
	position: relative;
	border-radius: 0 30px 30px 0;
}
#txtNumber{
	left: 10px;
	top: 10px;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: white;
	position: relative;
}